@layout GetStartedLayout
@inject ISnackbar Snackbar
@inject ClipboardService Clipboard
@page "/getstarted-about-us"
@using ZooTunes.Client.Services

<MudIconButton Href="/" Icon="@Icons.Material.Filled.ArrowBack"></MudIconButton>

<MudStack Row Justify="Justify.Center" Class="mt-12">
    <MudImage Height="180" Width="180" Src="images/logo.png"></MudImage>
</MudStack>

<MudText Align="Align.Center" Typo="Typo.h4" Class="bg-gradient-to-r from-gray-50 to-[#999999] text-transparent bg-clip-text">
    About Us
</MudText>

<MudText Align="Align.Center" Typo="Typo.body1" Class="mt-4 bg-gradient-to-r from-gray-50 to-[#999999] text-transparent bg-clip-text">
    Wir sind ein engagiertes Team, das mit <b>ZooTunes</b> die Tierwelt auf eine neue, spannende Weise erlebbar macht. Unsere App bietet authentische Tiergeräusche aus Zoos, die du entdecken und zu deinen Favoriten hinzufügen kannst.
    Warum ZooTunes?
    Lernen und Spaß: Spielerisch die Tierwelt entdecken.
    Authentische Sounds: Geräusche von Tieren aus aller Welt.
    Deine Favoriten: Speichere deine Lieblingstiere und höre sie jederzeit.
    Mit ZooTunes wird der Zoo mobil – überall und jederzeit!
</MudText>

<MudStack Row="true" Justify="Justify.Center" Class="mt-12">
    <button @onclick="HandleContactUs" class="bg-white text-black font-bold py-4 px-12 rounded-full shadow-lg hover:bg-gray-200 text-lg">
        Kontaktiere uns
    </button>
</MudStack>

@code {

    private async Task HandleContactUs()
    {
        await Clipboard.CopyTextToClipboard("ZooTunes@teams.com");
        ShowMessage("Unsere Email wurde erfolgreich in die Zwischenablage kopiert.", Severity.Success);
    }
    private void ShowMessage(string message, Severity severity)
    {
        Snackbar.Add(message, severity);
    }

}