@layout GetStartedLayout
@page "/"

<MudStack Row Justify="Justify.Center" Class="mt-12">
    <MudImage Height="180" Width="180" Src="images/logo.png"></MudImage>
</MudStack>

<div class="mx-2">
    <MudText Typo="Typo.h3" Class="bg-gradient-to-r from-gray-50 to-[#999999] inline-block text-transparent bg-clip-text">
        Willkommen bei ZooTunes
    </MudText>
    
    <MudText Typo="Typo.body1" Class="mt-6 bg-gradient-to-r from-gray-50 to-[#999999] inline-block text-transparent bg-clip-text">
        Entdecken Sie die Geräusche der Tierwelt! Vom Brüllen der Löwen bis zum Gesang der Vögel – erleben Sie die Wildnis hautnah mit ZooTunes.
    </MudText>
</div>

<MudStack Class="mt-64" Justify="Justify.Center" Spacing="6" Row="true">
    <MudButton Href="home" class="bg-white text-black font-bold py-4 px-12 rounded-full shadow-lg hover:bg-gray-200 text-lg">
        Jetzt Loslegen!
    </MudButton>    
    <MudLink Href="/getstarted-about-us" Typo="Typo.subtitle1" Underline="Underline.Always" Class="mt-4 text-gray-300  underline text-lg">
        Über uns
    </MudLink>
</MudStack>
