@page "/about-us"
@using ZooTunes.Client.Services
@inject ISnackbar Snackbar
@inject ClipboardService Clipboard

<MudStack Row Justify="Justify.Center">
    <MudImage Height="180" Width="180" Src="images/logo.png"></MudImage>
</MudStack>

<MudText Align="Align.Center" Typo="Typo.h4" Class="bg-gradient-to-r from-gray-50 to-[#999999] text-transparent bg-clip-text">
    About Us
</MudText>

<MudText Align="Align.Center" Typo="Typo.body1" Class="mt-4 bg-gradient-to-r from-gray-50 to-[#999999] text-transparent bg-clip-text">
    We are a dedicated team that uses <b>ZooTunes</b> to bring the animal world to life in a new and exciting way. Our app offers authentic animal sounds from zoos that you can discover and add to your favorites.
    Why ZooTunes?
    Learning and fun: Playfully discover the animal world.
    Authentic sounds: Sounds of animals from all over the world.
    Your favorites: Save your favorite animals and listen to them anytime.
    ZooTunes makes the zoo mobile - anywhere and anytime!
</MudText>

<MudStack Row="true" Justify="Justify.Center" Class="mt-48">
    <button @onclick="HandleContactUs" class="bg-white text-black font-bold py-4 px-12 rounded-full shadow-lg hover:bg-gray-200 text-lg">
        Contact us
    </button>
</MudStack>

@code {

    private async Task HandleContactUs()
    {
        await Clipboard.CopyTextToClipboard("ZooTunes@teams.com");
        ShowMessage("Unsere Email wurde erfolgreich in die Zwischenablage kopiert.", Severity.Success);
    }

    private void ShowMessage(string message, Severity severity)
    {
        Snackbar.Add(message, severity);
    }

}