@page "/home"
@using ZooTunes.Client.Animals
<div style="height: fit-content" class="flex justify-start items-center bg-black text-white py-2 px-4 fixed top-0 left-0 w-full z-100">
    <MudImage Src="images/logo.png" Height="70" Width="70"></MudImage>
    <h1 onfocus="blur()" class="text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white ml-5">Browse animals</h1>
</div>

<MudTextField @bind-Value="searchQuery" 
              Placeholder="Search for an animal..." 
              Class="mb-4 mt-14 search-bar" 
              Adornment="Adornment.Start" 
              AdornmentIcon="@Icons.Material.Filled.Search" 
              Clearable="true" 
              Immediate="true" 
              OnAdornmentClick="SearchAnimals" 
              OnKeyDown="HandleKeyDown"
              OnClearButtonClick="ResetSearch">
</MudTextField>

@foreach (var animalDataSet in filteredData)
{
    <SmallAnimalDisplay AnimalData="animalDataSet" />
}

@code {
    List<AnimalData> data { get; set; }
    List<AnimalData> filteredData { get; set; }
    string searchQuery { get; set; } = "";

    protected override void OnInitialized()
    {
        data = AnimalDataRepository.Data;
        filteredData = data; // Initialize to show all animals
    }

    void SearchAnimals()
    {
        filteredData = string.IsNullOrWhiteSpace(searchQuery)
            ? data // Show all animals if the search query is empty
            : data.Where(a => a.AnimalName.Contains(searchQuery, StringComparison.OrdinalIgnoreCase)).ToList();
    }

    void ResetSearch()
    {
        searchQuery = string.Empty; // Clear the search query
        filteredData = data;       // Reset to show all animals
    }

    void HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter") // Check if the pressed key is "Enter"
        {
            SearchAnimals();
        }
    }
}